streamlit
pandas
plotly
wordcloud
matplotlib
textblob
scikit-learn
openpyxl
# Esta línea descarga el cerebro en español para Spacy directamente:
https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0.tar.gz